$main-font: 'Gotham Pro', sans-serif;
$container: 1280px;

$desktop-breakpoint: 1269px;
$tablet-breakpoint: 1079px;
$mobile-breakpoint: 769px;
$mini-breakpoint: 569px;

$main-color: #292929;
$second-color: #FFFFFF;
$third-color: #123E3C;
$four-color: #B8CEBB;
$five-color: #000000;