.news-content {
    margin: 60px 0 120px 0;

    .news-content-inner {
        display: flex;
        gap: 40px;

        .news-content-info {
            max-width: 620px;
            width: 100%;

            > h1 {
                color: $main-color;
                font-family: 'Gotham Pro Bold';
                font-weight: 700;
                font-size: 3rem;
                line-height: 3.75rem;
                margin: 0 0 20px 0;
            }

            > p {
                color: $main-color;
                font-size: 0.875rem;
                line-height: 1.3125rem;
                margin: 0 0 20px 0;

                > a {
                    border-radius: 0px;
                    background: transparent;
                    border: 0;
                    padding: 0;
                    color: $third-color;
                    text-align: center;
                    font-family: "Gotham Pro Bold";
                    font-weight: 700;
                    font-size: 0.875rem;
                    line-height: 1.3125rem;
                    text-transform: none;
                    display: inline-block;
                    width: auto;
                    transition: text-decoration 0.7s ease;

                    &:hover {
                        text-decoration: underline;
                        background: transparent;
                        color: $third-color;
                    }
                }

                &:last-child {
                    margin: 0;
                }
            }

            > ul {
                margin: 0 0 15px 0;
                gap: 10px;

                > li {
                    color: $main-color;
                    font-size: 0.875rem;
                    line-height: 1.3125rem;
                    list-style-position: inside;
                    list-style-type: disc;
                }
            }

            > a {
                border-radius: 100px;
                background: $third-color;
                border: 1px solid $third-color;
                padding: 17.5px;
                color: $second-color;
                text-align: center;
                font-family: "Gotham Pro Bold";
                font-weight: 700;
                font-size: 0.875rem;
                line-height: 1.3125rem;
                text-transform: uppercase;
                display: inline-block;
                width: max-content;
                transition: background 0.7s ease, color 0.7s ease;

                &:hover {
                    background: transparent;
                    color: $third-color;
                }
            }
        }

        .news-content-img {
            max-width: 620px;
            width: 100%;

            > img {
                width: 100%;
                object-fit: cover;
            }
        }
    }
}


@media (min-width: $tablet-breakpoint) and (max-width: $desktop-breakpoint) {}

@media (min-width: $mobile-breakpoint) and (max-width: $tablet-breakpoint) {
    .news-content {
        margin: 0 0 120px 0;

        .container {
            max-width: 100%;
        }

        .news-content-inner {
            flex-direction: column-reverse;

            .news-content-info {
                max-width: 91%;
                margin: 0 auto;
            }
            
            .news-content-img {
                max-width: 100%;
            }
        }
    }
}

@media (max-width: $mobile-breakpoint) {
    .news-content {
        margin: 0 0 40px 0;

        .container {
            max-width: 100%;
        }

        .news-content-inner {
            flex-direction: column-reverse;

            .news-content-info {
                max-width: 91%;
                margin: 0 auto;

                > h1 {
                    font-size: 1.5rem;
                    line-height: 1.875rem;
                    margin: 0 0 15px 0;
                }

                > p {
                    font-size: 0.75rem;
                    line-height: 1.125rem;
                    margin: 0 0 15px 0;
    
                    > a {
                        font-size: 0.75rem;
                        line-height: 1.125rem;
                    }
                }
    
                > ul {
    
                    > li {
                        font-size: 0.75rem;
                        line-height: 1.125rem;
                    }
                }
    
                > a {
                    padding: 14px;
                    font-size: 0.75rem;
                    line-height: 1.125rem;
                }
            }
            
            .news-content-img {
                max-width: 100%;
            }
        }
    }
}

@media (max-width: $mini-breakpoint) {}